*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #000;
}
:root{
	--blue: #4B88A2;
	--purple: #AEADF0;
}
/*flex classes*/
.flex{
	display: flex;
}
.jc-center{
	justify-content: center;
}
.align-center{
	align-items: center;
}
.center-hv{
	align-items: center;
	justify-content: center;
}
.sp-bt{
	justify-content: space-between;
}
.flex-column{
	flex-direction: column;
}
/*end flex classes*/

.menu-bar{
	margin: 0 auto;
	padding: 30px 100px;
	position: fixed;
	width: 100%;
    z-index: 2;
    transition: background-color .3s ease, padding .3s ease;
}
.menu-bar .logo img{
	height: 70px;
	transition: height .3s ease;
}
.menu-bar nav ul{
	list-style-type: none;
	width: 500px;
	margin-top: 15px; 
	transition: width .3s ease;
}
.menu-bar nav ul li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	transition: color .3s ease;
	letter-spacing: 1px;
	transition: font-size .3s ease;
}
.menu-bar nav ul li a:hover{
	color: #cecece;
}
.menu-bar.animate-menu{
	background-color: #000;
	padding: 15px 100px;
}
.menu-bar.animate-menu .logo img{
	height: 50px;
}
.menu-bar.animate-menu nav ul{
	width: 400px;
}
.menu-bar.animate-menu nav ul li a{
	font-size: 17px;
}
.banner,
#works,
#about,
#contact{
	height: 100vh;
}
#works,
#about,
#contact{
	/*padding: 50px 0;*/
}
.banner{
	background: url('../img/home-banner.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.banner:before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.3);
}
#myElement{
	text-align: center;
	color: #fff;
	font-size: 40px;
    font-family: 'Lato', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
#myElement small{
	display: none;
}
.banner .banner-link{
	font-size: 55px;
	color: #fff;
	position: absolute;
	bottom: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.section-title{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 300;
}
.divider{
	position: relative;
	height: 1px;
}
.div-transparent:before{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.div-arrow-down:after{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}
.container{
	margin: 0 auto;
	max-width: 1366px;
	width: 100%;
}
.normal-text{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
#works{
	/*background-color: #E9EBED;*/
}
.works{
	padding-bottom: 30px;
}
.works-grid{
    display: grid;
    grid-template: 100% / 30% 30% 30%;
    grid-column-gap: 40px;
    margin: 30px auto 0;
    height: 400px;
    justify-content: center;
}
.works-grid .grid-item{
    width: 100%;
    height: 100%;
    /*background-size: cover;*/
    background-position: center !important;
    background-repeat: no-repeat !important;
    background: url('https://via.placeholder.com/400/09f/fff.png');
    border-radius: 3px;
}
.works-grid .grid-item .item-detail{
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	transition: visibility .5s ease, opacity .5s ease, background-color .5s ease;
}
.works-grid .grid-item:hover .item-detail{
	visibility: visible;
	opacity: 1;
}
.works-grid .grid-item .item-detail .item-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #fff;
}
.item-title::after{
	content: '';
	display: block;
	height: 3px;
	background-color: #fff;
	width: 0;
	transition: width 1s ease;
}
.works-grid .grid-item:hover .item-title::after{
	width: 100%;
}
.view-all{
	margin: 0 auto;
	border: 0px;
    padding: 15px 40px;
	font-family: 'Montserrat', sans-serif;
	-webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    background: #000;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
}
.view-all:before{
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cecece;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 3px;
}
.view-all:hover{
	color: #fff;
}
.view-all:hover:before{
    -webkit-transform: scale(0);
    transform: scale(0);
}


#about{
    background-color: #fff;
}
.avatar{
	border-radius: 100%;
    width: 130px;
    height: 130px;
    border: 1px solid #cecece;
    background-size: cover;
    box-shadow: 4px 3px 2px #cecece;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px auto 50px;
}
.about-avatar-text p{
	margin: 20px auto 0;
}
.container.container-text{
	max-width: 700px;
}


#contact{
	/*background-color: var(--purple);*/
}
#contact .normal-text{
	text-align: center;
}


.back-to-top{
	border: 0;
	background-color: #000;
	border-radius: 100%;
	color: #fff;
	display: none;
	position: fixed;
	width: 50px;
    height: 50px;
    font-size: 20px;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    outline: none;
}


footer{
    background: #1b1b1b;
    padding: 50px 0;
}
footer .social-media{
    margin-bottom: 20px;
}
footer .social-media i{
	margin: 0 7px;
	font-size: 35px;
}
footer .social-media a i{
	color: #fff;
	transition: color .3s ease;
}
footer .social-media a i.fa-facebook-f:hover{
	color: #3b5998;
}
footer .social-media a i.fa-github:hover{
	color: #6e5494;
}
footer .social-media a i.fa-instagram:hover{
	color: #f77737;
}
footer .social-media a i.fa-linkedin-in:hover{
	color: #0077b5;
}

footer .row p{
	text-align: center;
	color: #bcbcbc;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.slide-bck-bottom {
	-webkit-animation: slide-bck-bottom 0.7s linear infinite alternate both;
	        animation: slide-bck-bottom 0.7s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-19 17:20:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bck-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bck-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@keyframes slide-bck-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
